<div class="image_deninho">
    <img src="assets/images/deninho.png" alt="Denisson logo">
    <div class="descricao">
        <h2>OUÇA NA SUA PLATAFORMA PREFERIDA</h2>
    </div>
    <div class="icons">
        <ng-icon name="bootstrapYoutube" title="Youtube Music"></ng-icon>
        <ng-icon name="bootstrapSpotify" title="Sportify"></ng-icon>
        <ng-icon name="simpleDeezer" title="deezer"></ng-icon>
        <ng-icon name="bootstrapApple" title="Apple Music"></ng-icon>
        <ng-icon name="simpleTidal" title="Tidal"></ng-icon>
        <ng-icon name="jamNapster" title="Napster"></ng-icon>
    </div>
</div>
