<div class="redes">
    <figure class="fig_redes">
        <img [src]="show" alt="foto show" class="fig_contato">
    </figure>
    <div class="container_redes">
        <div class="redes_sociais">
            <h2>SIGA NAS</h2>
            <h1>REDES</h1>
            <h1>SOCIAIS</h1>
        </div>
        <div class="icones">
            <ng-icon name="bootstrapYoutube" title="Youtube Music"></ng-icon>
            <ng-icon name="bootstrapInstagram" title="Youtube Music"></ng-icon>
            <ng-icon name="bootstrapFacebook" title="Youtube Music"></ng-icon>
            <ng-icon name="bootstrapTwitter" title="Youtube Music"></ng-icon>
            <ng-icon name="bootstrapTwitch" title="Youtube Music"></ng-icon>
            <ng-icon name="bootstrapTiktok" title="Youtube Music"></ng-icon>
        </div>
        <div class="nome">
        </div>
    </div>
</div>
