@import '../../sass/fontes'
@import '../../sass/mixins'
@import '../../sass/variables'

.redes
    background-color: $cor-preta

.fig_redes
    position: relative
    width: 100%
    img
        width: 100%

.container_redes
    position: absolute
    top: 270%
    left: 50%
    transform: translate(-50%, -50%)

.redes_sociais
    font-family: 'Akira'
    display: flex
    flex-direction: column
    h1
        font-size: 4em

    h2
        font-size: 3em