<div class="agenda">
    <div class="container">
        <div class="agenda2">
            <p>A</p>
            <p>GEN</p>
            <p>DA</p>
        </div>
        <div class="lugares">
            <div class="lugares1">
                <div class="numero">
                    <h1>08</h1>
                    <h2>DEZ</h2>
                </div>
                <div class="letras">
                    <h3>PRIMEIRA CIDADE/PC</h3>
                    <h4>Centro de Eventos PC</h4>
                    <h4>PRIMEIRA CIDADE/PC</h4>
                    <br>
                    <a href="">COMPRAR INGRESSO</a>
                </div>
            </div>
            <div class="lugares1">
                <div class="numero">
                    <h1>09</h1>
                    <h2>DEZ</h2>
                </div>
                <div class="letras">
                    <h3>SEGUNDA CIDADE/SC</h3>
                    <h4>Centro de Eventos SC</h4>
                    <h4>PRIMEIRA CIDADE/SC</h4>
                    <br>
                    <a href="">COMPRAR INGRESSO</a>
                </div>
            </div>
            <div class="lugares1">
                <div class="numero">
                    <h1>15</h1>
                    <h2>DEZ</h2>
                </div>
                <div class="letras">
                    <h3>TERCEIRA CIDADE/TC</h3>
                    <h4>Centro de Eventos TC</h4>
                    <h4>PRIMEIRA CIDADE/TC</h4>
                    <br>
                    <a href="">COMPRAR INGRESSO</a>
                </div>
            </div>
            <div>
                <button class="btn_agenda">VER AGENDA COMPLETA</button>
            </div>
        </div>
    </div>
</div>